.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mediumslateblue-100);
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  font-size: 4em;
}

.trustFirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .splash {
    font-size: 3em;
  }
}

@media screen and (max-width: 450px) {
  .splash {
    font-size: 2em;
  }
}
